*{
    margin:0;
    font-family:arial;
    border:border-box;
}
.navpanel{
    display:flex;
    align-items:center;
    background-color:black;
    height:60px;
}
/**box1**/
.logo{
    display:inline-block;
    height:56.8px;
    width:110px;
    border:2px solid transparent;
    background-image: url(logo.png);
    background-size:cover;

}
.logo:hover{
    border:1.5px solid white;
}
/**box2**/
.address{
    display:inline-block;
    margin:7px 4px 7px 0px;
    border:1.5px solid transparent;
}
.add-first{
    margin-left:15px;
    font-size:0.85rem;
    color:rgb(228, 213, 213);
}

.loc-icon{
    display:flex;
    align-items:center;
    color:white;
}
.add-sec{
    margin-left:5px;
    font-size:1rem;
    color:rgb(253, 252, 252);
}
.add-border{
    height:58px;
    width:88px;
    border:1.5px solid transparent;
}
.add-border:hover{
    border:1.5px solid white;
}
/**box3**/
.dropdown{
    height:40px;
    width:40px;

}
.search{
    height:35px;
    width:347px;
}